{% extends 'base.html' %}

    {% block title%}New User Form{% endblock %}

    {% block content %}
    <div class="container">
        <div class="h1 pb-2 mb-4 text-success border-bottom border-sucess">
            Create User
        </div>

        <form action="/" method="POST">
            <div>
                <label for="first-name">First Name</label>
                <input type="text" name="first-name" placeholder="Enter a first name" aria-label="First Name" required>
            </div>
    
            <section>
                <label for="last-name">Last Name</label>
                <input type="text" name="last-name" placeholder="Enter a last name" aria-label="Last Name">
            </section>

            <section>
                <label for="image-url">Image URL</label>
                <input type="text" name="image-url" placeholder="Provide an image url" aria-label="Image URL">
            </section>

            <button class="btn btn-primary m-2">Create user</button>
        </form>

        <a href="/" class="btn btn-primary m-2">Go Back</a>
    </div>
    {% endblock %}