{% extends 'base.html' %}

    {% block title%}Post{% endblock %}

    {% block content %}
    <div class="container">
        <div class="h4 pb-2 mb-4 text-warning border-bottom border-warning">
            Edit Post
        </div>

        <form action="" method="POST">
            <div class="m-3">
                <label for="title">Title</label>
                <input type="text" name="title" id="post-title" value="{{post.title}}" required>
            </div>

            <div class="m-3 input-group">
                <span class="input-group-text">Post Content</span>
                <textarea name="content" id="post-content" cols="30" rows="10" required>{{post.content}}</textarea>
            </div>

            <button class="btn btn-primary">Submit</button>
        </form>

        <a href="/{{user.id}}/{{post.id}}" class="btn btn-danger mt-2">Cancel</a>
    </div>
    {% endblock %}