{% extends 'base.html' %}

    {% block title%}Edit a User{% endblock %}

    {% block content %}
    <div class="container">
        <div class="h4 pb-2 mb-4 text-warning border-bottom border-warning">
            Edit User
        </div>

        <form action="" method="POST">
            <section class="m-2">
                <label for="first-name">First Name</label>
                <input type="text" name="first-name" value="{{ user.first_name }}" aria-label="First Name">
            </section>
    
            <section class="m-2">
                <label for="last-name">Last Name</label>
                <input type="text" name="last-name" value="{{user.last_name}}" aria-label="Last Name">
            </section>

            <section class="m-2">
                <label for="image-url">Image URL</label>
                <input type="text" name="image-url" value="{{user.image_url}}" aria-label="Image URL">
            </section>

            <button class="btn btn-primary">Submit</button>
            <a href="/{{user.id}}" class="btn btn-primary">Go Back</a>
        </form>
    </div>
    {% endblock %}