{% extends 'base.html' %}

{% block title %}Blogly{% endblock %}

{% block content %}
<div class="container">
    <div class="card">

    <div class="card-header text-center bg-primary text-light">
        Blogly
    </div>

    <div class="card-body">
        <h3 class="card-title">Recent Posts</h3>
            <div>
            {% for post in posts %}
            <h2>
                <a href="/{{post.user.id}}/{{post.id}}">{{post.title}}</a>
            </h2>
            <p>
                {{post.content}}

                <blockquote>@{{post.user.first_name}} {{post.user.last_name}} on <small><i>{{post.friendly_date}}</i></small></blockquote>
            </p>

            <p>
                <b>Tags: </b>
                {% for tag in post.tags %}
                <a href="" class="btn btn-primary btn-sm">{{tag.name}}</a>
                {% endfor %}
            </p>
            {% endfor %}
            </div>
    </div>

    <div class="card-footer">
    <div class="row">
        <div class="col">
            <a href="/users" class="btn btn-primary">Users</a>
        </div>
        <div class="col">
            <a href="/tag/list" class="btn btn-primary">Tags</a>
        </div>
    </div>
    </div>

    </div>
</div>
{% endblock %}