{% extends 'base.html' %}

    {% block title%}Users{% endblock %}

    {% block content %}
    <div class="container">
        <div class="card text-center">
        <div class="card-header bg-primary text-light">Blogly</div>
        
        <div class="card-body">
            <h3 class="card-title">All Users</h3>

            <p>
                {% for user in users %}
                <div>
                <a href="/{{user.id}}" class="btn btn-info m-1">{{user.first_name}} {{user.last_name}}</a>
                </div>
                {% endfor %}
            </p>
        
        
        <a href="/create" class="btn btn-primary">Add user</a>

        <a href="/" class="btn btn-primary">Go Back</a>
        </div>

        </div>
    </div>

    {% endblock %}